.payment{
    padding: 30px 120px 30px 120px;
}
.payment-title{
    color: #FDFDFD;
    background-color: #5D9C59;
    padding: 10px;
    text-align: center;
    margin:0;
}
.payment-info-title{
    color: #5D9C59;
    background-color: #EBEBEB;
    padding: 10px 82px;
    margin:0;
}
.payment-info-container{
    padding: 10px 102px; 
    background-color: #F7F7F7;
}
.payment-price{
    text-align: right;
    padding: 10px 82px;
    font-weight: bold;
    margin:0;
    color: #4F4F4F;
    background-color: #EBEBEB;
}
.total-price-title{
    padding: 0;
    margin: 0;
}
.total-price{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    color: #5D9C59;
    padding: 0;
    margin: 0;
}
.payment-method-section{
    padding: 30px 120px 30px 120px;
}
.payment-choice{
    text-align: center;
}
.payment-choice label{
    padding: 0px 40px;
    font-weight: 500;
    vertical-align: middle;
}
.payment-choice input{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 0;
    fill: var(--foundation-white-white-50, #FDFDFD);
    stroke-width: 1px;
    stroke: var(--foundation-grey-grey-500, #BDBDBD);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}
.payment-button-section{
    padding-bottom: 60px;
    text-align: center;
    width: 100%;
}
.payment-button{
    display: inline;
    padding: 10px 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: #F8F8F8;
    background: var(--primary-color, #5D9C59);
    box-shadow: 0px 4px 4px 0px rgba(93, 156, 89, 0.40);
}
.back-button{
    display: inline;
    padding: 10px 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: #5D9C59;
    background-color: #FFFFFF;
    border: 1px solid var(--primary-color, #5D9C59);
    box-shadow: 0px 4px 4px 0px rgba(93, 156, 89, 0.40);
}
.payment-button:hover {
    box-shadow: 0 8px 16px 0 rgba(93, 156, 89, 0.40);
    background-color: rgba(93, 156, 89, 0.9);
  }
  .back-button:hover {
    box-shadow: 0 8px 16px 0 rgba(93, 156, 89, 0.40);
    background-color: #F7F7F7;
  }

